In [1]:
import pandas as pd
import os

import COMBINE_harmonizer
from COMBINE_harmonizer import cfg

## 01. init

In [2]:
study_name = COMBINE_harmonizer.STUDY_LH
sheet_name = COMBINE_harmonizer.SHEET_MAIN

root_dir = '..'

In [3]:
COMBINE_harmonizer.init(f'{root_dir}/config.yaml')

## 02. Dictionary

In [4]:
data_dict_filename = f'{root_dir}/Dictionary_HIE_clinical_variables.xlsx'

In [5]:
df_dict = COMBINE_harmonizer.load_data_dict(data_dict_filename, sheet_name)

In [6]:
dict_lh_columns = list(df_dict[study_name].unique())

## 03. LH

In [7]:
the_dir = cfg.config[f'{study_name}_dir']

In [8]:
filenames = os.listdir(the_dir)
filenames.sort()

In [9]:
dfs = [pd.read_csv(os.sep.join([the_dir, each_filename])) for each_filename in filenames]

### 03.1. check columns in each file

In [10]:
for idx, each_df in enumerate(dfs):
    print(f'({idx}/{len(dfs)}) filename: {filenames[idx]} columns: {list(each_df.columns)}')

(0/27) filename: lh01.csv columns: ['SITENM', 'LAST', 'FIRST', 'HTHRM_ID', 'REC_CMP', 'CENTER', 'BIRTHDT', 'BIRTHNM', 'CMP_DATE', 'CRT_DATE']
(1/27) filename: lh02.csv columns: ['HTHRM_ID', 'LH2TEMP', 'LH2COOLD', 'LH2CHROM', 'LH2CNGEN', 'LH2WGHT', 'LH2SURV', 'LH2ALLBG', 'LH2POSTN', 'LH2CNFCT', 'LH2PH', 'LH2DEFIC', 'LH2HIST', 'LH2APGA', 'LH2SEIZ', 'LH2NEXDN', 'LH2SIGN', 'LH2RESP', 'LH2SEDA', 'LH2NAME', 'LH2REAS', 'LH2CONSP', 'LH2INIT', 'REC_CMP', 'CENTER', 'LH2NENDR', 'LH2CON', 'LH2SPON', 'LH2POST', 'LH2TONE', 'LH2SUCK', 'LH2MORO', 'LH2PUPL', 'LH2HR', 'LH2NEDAT', 'LH2NETIM', 'LH2CONS', 'LH2RANDT', 'LH2RANTM', 'LH2RAGE', 'LH2LEVEL', 'LH2RANNM', 'CMP_DATE', 'CRT_DATE']
(2/27) filename: lh04.csv columns: ['HTHRM_ID', 'LH4MBRT', 'LH4PCARE', 'LH4HYPR', 'LH4HMRG', 'LH4THYR', 'LH4DIAB', 'LH4DECEL', 'LH4CORD', 'LH4UTER', 'LH4SHOUL', 'LH4PLCPX', 'LH4MHEM', 'LH4MTRMA', 'LH4MCARD', 'LH4MSEIZ', 'LH4PYRX', 'LH4CHORI', 'LH4PPATH', 'LH4CHDOC', 'LH4ANTI', 'LH4ESTIM', 'LH4LABOR', 'LH4INIT', 'REC_CMP', 'CENTER', 'LH4MAGE', 'LH4MRACE', 'LH4ORAC1', 'LH4ORAC2', 'LH4ORAC3', 'LH4ORAC4', 'LH4ETHNI', 'LH4MSTAT', 'LH4EDUC', 'LH4GRAV', 'LH4PARI', 'LH4FNUM', 'LH4ANTC1', 'LH4ANTC2', 'LH4ANTC3', 'LH4RPDT', 'LH4RPTM', 'LH4LBDT', 'LH4LBTM', 'LH4MODE', 'LH4ADMDT', 'LH4ADMTM', 'CMP_DATE', 'CRT_DATE']
(3/27) filename: lh05.csv columns: ['HTHRM_ID', 'LH5OUTB', 'LH5INHOS', 'LH5OUHOS', 'LH5DLRES', 'LH5DLO2', 'LH5DLBAG', 'LH5DLCOM', 'LH5DLINT', 'LH5DLDRG', 'LH510RES', 'LH510O2', 'LH510BAG', 'LH510COM', 'LH510INT', 'LH510DRG', 'LH5CORD', 'LH5POST', 'LH5INIT', 'REC_CMP', 'CENTER', 'LH5BRTDT', 'LH5BRTTM', 'LH5ADMDT', 'LH5ADMTM', 'LH5AP1MN', 'LH5AP5MN', 'LH5A10MN', 'LH5A20MN', 'LH5BTWGT', 'LH5LGTH', 'LH5HC', 'LH5GAGE', 'LH5SEX', 'LH5SPRES', 'LH5CDSRC', 'LH5CDPH', 'LH5CDPCO', 'LH5CDPO2', 'LH5CDHCO', 'LH5CDDEF', 'LH5PSSRC', 'LH5PSDT', 'LH5PSTM', 'LH5PSPH', 'LH5PSPCO', 'LH5PSPO2', 'LH5PSHCO', 'LH5PSDEF', 'CMP_DATE', 'CRT_DATE']
(4/27) filename: lh06.csv columns: ['HTHRM_ID', 'L6FPBRPB', 'L6FPBAB', 'L6FPCRAB', 'L6FPAAB', 'REC_CMP', 'CENTER', 'L6TRTMT', 'L6BVNPH', 'L6BVNPHD', 'L6BVXPH', 'L6BVXPHD', 'L6BVNHCO', 'L6BVNHCD', 'L6BVXBD', 'L6BVXBDD', 'L6BVNSS', 'L6BVNSSD', 'L6BVXSS', 'L6BVXSSD', 'L6BVNSP', 'L6BVNSPD', 'L6BVXSP', 'L6BVXSPD', 'L6BVNCL', 'L6BVNCLD', 'L6BVXCL', 'L6BVXCLD', 'L6BVXBN', 'L6BVXBND', 'L6BVXCR', 'L6BVXCRD', 'L6BVNGL', 'L6BVNGLD', 'L6BVXGL', 'L6BVXGLD', 'L6BVNTC', 'L6BVNTCD', 'L6BVNIC', 'L6BVNICD', 'L6BVXAS', 'L6BVXASD', 'L6BVXAL', 'L6BVXALD', 'L6HMNHCT', 'L6HMNPLC', 'L6FPBSRC', 'L6FPBDT', 'L6FPBTM', 'L6FPBOC1', 'L6FPBOC2', 'L6FPBOC3', 'L6FPBAC1', 'L6FPBAC2', 'L6FPBAC3', 'L6FPARC', 'L6FPADT', 'L6FPATM', 'L6FPAOC1', 'L6FPAOC2', 'L6FPAOC3', 'L6FPAAC1', 'L6FPAAC2', 'L6FPAAC3', 'CMP_DATE', 'CRT_DATE']
(5/27) filename: lh06a.csv columns: ['HTHRM_ID', 'LH6ABATH', 'LH6ABLAN', 'REC_CMP', 'CENTER', 'LH6ARNUM', 'LH6AMIN', 'LH6ADATE', 'LH6ATIME', 'LH6ASKIN', 'LH6AAXIL', 'LH6AESOP', 'LH6ASERV', 'LH6ADEVI', 'LH6AMODE', 'LH6AATEM', 'LH6AREAS', 'CMP_DATE', 'CRT_DATE']
(6/27) filename: lh06bg.csv columns: ['HTHRM_ID', 'REC_CMP', 'CENTER', 'LH6BGINT', 'LH6BGDT', 'LH6BGTM', 'LH6BGPH', 'LH6BGPCO', 'LH6BGPO2', 'LH6BGHCO', 'LH6BGBD', 'CMP_DATE', 'CRT_DATE']
(7/27) filename: lh06cv.csv columns: ['HTHRM_ID', 'LH6CVVE', 'LH6CVIA', 'LH6CVBT', 'LH6CVPLT', 'REC_CMP', 'CENTER', 'LH6CVINT', 'LH6CVRDT', 'LH6CVRTM', 'LH6CVBPS', 'LH6CVBPD', 'LH6CVHR', 'CMP_DATE', 'CRT_DATE']
(8/27) filename: lh06f.csv columns: ['HTHRM_ID', 'CENTER', 'LH6FRNUM', 'LH6FMIN', 'LH6FDATE', 'LH6FTIME', 'LH6FSKIN', 'LH6FAXIL', 'LH6FESOP', 'LH6FBLAN', 'LH6FSERV']
(9/27) filename: lh06he.csv columns: ['HTHRM_ID', 'REC_CMP', 'CENTER', 'LH6HEINT', 'LH6HERDT', 'LH6HERTM', 'LH6HEWBC', 'LH6HEHGB', 'LH6HEDCP', 'LH6HEDCM', 'LH6HEDCL', 'LH6HEPCT', 'LH6HEPT', 'LH6HEPTT', 'CMP_DATE', 'CRT_DATE']
(10/27) filename: lh06ht.csv columns: ['HTHRM_ID', 'REC_CMP', 'CENTER', 'L6AHTDAY', 'L6AHTDT', 'L6AHTTM', 'L6AHTST', 'L6AHTAT', 'CMP_DATE', 'CRT_DATE']
(11/27) filename: lh06om.csv columns: ['HTHRM_ID', 'REC_CMP', 'CENTER', 'LH6OMINT', 'LH6OMTDT', 'LH6OMTTM', 'LH6OMACV', 'LH6OMAC1', 'LH6OMAC2', 'LH6OMAC3', 'LH6OMAGS', 'LH6OMAG1', 'LH6OMAG2', 'LH6OMAG3', 'LH6OMAPY', 'LH6OMAP1', 'LH6OMAP2', 'LH6OMAP3', 'LH6OMNBA', 'LH6OMNB1', 'LH6OMNB2', 'LH6OMNB3', 'LH6OMFI', 'LH6OMUO', 'CMP_DATE', 'CRT_DATE']
(12/27) filename: lh06rs.csv columns: ['HTHRM_ID', 'REC_CMP', 'CENTER', 'LH6RSINT', 'LH6RSRDT', 'LH6RSRTM', 'LH6RSSPT', 'LH6RSFIO', 'LH6RSRHZ', 'LH6RSPDP', 'LH6RSMAP', 'LH6RSPEP', 'CMP_DATE', 'CRT_DATE']
(13/27) filename: lh06tr.csv columns: ['HTHRM_ID', 'REC_CMP', 'CENTER', 'L6ATMPRD', 'L6ARDDT', 'L6ARDTM', 'L6ASKINT', 'L6AAXILT', 'L6AESPHT', 'L6ABLNKT', 'L6ASVOSP', 'CMP_DATE', 'CRT_DATE']
(14/27) filename: lh07.csv columns: ['HTHRM_ID', 'LH7CCOM', 'LH7MCOM', 'LH7TCOM', 'LH7BCOM', 'LH7ALT', 'LH7ACOM', 'LH7DCOM', 'LH7INIT', 'REC_CMP', 'CENTER', 'LH7EVNM', 'LH7CDTO', 'LH7CTMO', 'LH7CDTR', 'LH7CTMR', 'LH7CACT', 'LH7COUT', 'LH7CATT', 'LH7MDTO', 'LH7MTMO', 'LH7MDTR', 'LH7MTMR', 'LH7MACT', 'LH7MOUT', 'LH7MATT', 'LH7TDTO', 'LH7TTMO', 'LH7TDTR', 'LH7TTMR', 'LH7TACT', 'LH7TOUT', 'LH7TATT', 'LH7BDTO', 'LH7BTMO', 'LH7BDTR', 'LH7BTMR', 'LH7BACT', 'LH7BOUT', 'LH7BATT', 'LH7ACT', 'LH7AOUT', 'LH7AATT', 'LH7DDT', 'LH7DTM', 'LH7DACT', 'LH7DOUT', 'LH7DATT', 'CMP_DATE', 'CRT_DATE', 'LH7OSAE', 'LH7OCOM', 'LH7ODTO', 'LH7OTMO', 'LH7ODTR', 'LH7OTMR', 'LH7OACT', 'LH7OOUT', 'LH7OATT']
(15/27) filename: lh09.csv columns: ['HTHRM_ID', 'LH9HSONO', 'LH9HSRES', 'LH9HCT', 'LH9HCRES', 'LH9MRI', 'LH9BMRES', 'REC_CMP', 'CENTER', 'LH9IMGTP', 'LH9HSDAT', 'LH9HSTIM', 'LH9HSREA', 'LH9HSREB', 'LH9HSREC', 'LH9HSRED', 'LH9HSREE', 'LH9HSREF', 'LH9HSREG', 'LH9HSREH', 'LH9HCDAT', 'LH9HCTIM', 'LH9HCREA', 'LH9HCREB', 'LH9HCREC', 'LH9HCRED', 'LH9HCREE', 'LH9HCREF', 'LH9HCREG', 'LH9HCREH', 'LH9BMDAT', 'LH9BMTIM', 'LH9BMREA', 'LH9BMREB', 'LH9BMREC', 'LH9BMRED', 'LH9BMREE', 'LH9BMREF', 'LH9BMREG', 'LH9BMREH', 'CMP_DATE', 'CRT_DATE']
(16/27) filename: lh10.csv columns: ['HTHRM_ID', 'LH10DC96', 'LH10PARW', 'LH10MDWD', 'LH10ADVR', 'LH10EMCO', 'LH10DEAT', 'LH10OTH', 'LH10OTHS', 'LH10INIT', 'REC_CMP', 'CENTER', 'LH10DTDC', 'LH10TMDC', 'CMP_DATE', 'CRT_DATE']
(17/27) filename: lh11.csv columns: ['HTHRM_ID', 'LH11SZ_1', 'LH11SE_1', 'LH11HY_1', 'LH11CL_1', 'LH11FS_1', 'LH11MO_1', 'LH11GA_1', 'LH11NA_1', 'LH11SZ_2', 'LH11HY_2', 'LH11CL_2', 'LH11FS_2', 'LH11MO_2', 'LH11GA_2', 'LH11NA_2', 'REC_CMP', 'CENTER', 'LH11DT_1', 'LH11TM_1', 'LH11LC_1', 'LH11SP_1', 'LH11PO_1', 'LH11TO_1', 'LH11SC_1', 'LH11MR_1', 'LH11PU_1', 'LH11HR_1', 'LH11RS_1', 'LH11DT_2', 'LH11TM_2', 'LH11LC_2', 'LH11SP_2', 'LH11PO_2', 'LH11TO_2', 'LH11SC_2', 'LH11MR_2', 'LH11PU_2', 'LH11HR_2', 'LH11RS_2', 'CMP_DATE', 'CRT_DATE']
(18/27) filename: lh12.csv columns: ['HTHRM_ID', 'LH12HTHE', 'LH12HTVN', 'LH12HTO2', 'LH12HTGV', 'LH12HTGS', 'LH12HTTB', 'LH12HTAM', 'LH12HTOT', 'LH12HTOS', 'LH12DTAU', 'LH12DTSP', 'LH12WDIS', 'LH12WNEU', 'LH12WIMA', 'LH12WEEG', 'LH12WMSY', 'LH12WBBF', 'LH12WPWI', 'LH12WOT', 'LH12WOTS', 'LH12SWIT', 'LH12SWRT', 'LH12LOCD', 'LH12LOCA', 'LH12LMVI', 'LH12LVBM', 'LH12LMBP', 'LH12LCC', 'LH12LEM', 'LH12DNR', 'LH12LCRT', 'LH12INIT', 'REC_CMP', 'CENTER', 'LH12STAT', 'LH12DCDT', 'LH12DCWT', 'LH12DCLN', 'LH12DCHC', 'LH12TRRS', 'LH12TRDT', 'LH12TRWT', 'LH12TRLN', 'LH12TRHC', 'LH12TROU', 'LH12DTDT', 'LH12DTTM', 'LH12DTCA', 'LH12DTSR', 'LH12DWIT', 'LH12TWIT', 'LH12DDNR', 'LH12TDNR', 'CMP_DATE', 'CRT_DATE']
(19/27) filename: lh13.csv columns: ['HTHRM_ID', 'LH13PLMC', 'LH13PLPP', 'LH13PLPH', 'LH13PLPN', 'LH13PLCL', 'LH13PECM', 'LH13PLNO', 'LH13CVMG', 'LH13CVCF', 'LH13CVCD', 'LH13CVCI', 'LH13CVHY', 'LH13CVAR', 'LH13RNOC', 'LH13RNAN', 'LH13RNDI', 'LH13GSNE', 'LH13GSHD', 'LH13SEP', 'LH13MEN', 'LH13DIC', 'LH13HYGL', 'LH13HYCA', 'LH13HYMG', 'LH13MJSG', 'LH13BDEF', 'LH13NESZ', 'LH13NESP', 'LH13NESD', 'LH13NESR', 'LH13NESA', 'LH13EEG', 'LH13EFIN', 'LH13ABNM', 'LH13ACON', 'LH13PART', 'LH13PTSP', 'LH13HTES', 'LH13HTEN', 'LH13HTVN', 'LH13HTO2', 'LH13HTGV', 'LH13HTGS', 'LH13HTTB', 'LH13HTAM', 'LH13HTOT', 'LH13HTOS', 'LH13INIT', 'REC_CMP', 'CENTER', 'LH13STAT', 'LH13PLVN', 'LH13PL02', 'LH13PLCP', 'L13PIBD1', 'L13PIED1', 'L13PIBT1', 'L13PIET1', 'L13PIBD2', 'L13PIED2', 'L13PIBT2', 'L13PIET2', 'L13PIBD3', 'L13PIED3', 'L13PIBT3', 'L13PIET3', 'LH13GSDR', 'LH13GSAG', 'LH13SEPA', 'LH13SEPB', 'LH13SEPC', 'LH13MENA', 'LH13MENB', 'LH13MENC', 'LH13MJSA', 'LH13MJSB', 'LH13MJSC', 'LH13BDCA', 'LH13BDCB', 'LH13BDCC', 'LH13EDAT', 'LH13ETIM', 'LH13ADAT', 'LH13ATIM', 'CMP_DATE', 'CRT_DATE']
(20/27) filename: lh14.csv columns: ['HTHRM_ID', 'LH14OTSP', 'LH14CIRS', 'LH14INFO', 'LH14NAME', 'LH14INIT', 'REC_CMP', 'CENTER', 'LH14VINM', 'LH14VIDT', 'LH14VINT', 'LH14CIRC', 'CMP_DATE', 'CRT_DATE']
(21/27) filename: lhmr01.csv columns: ['HTHRM_ID', 'LM1AVAI', 'LM1OBTA', 'LM1REAS', 'LM1INIT', 'REC_CMP', 'CENTER', 'LM1DATE', 'LM1TIME', 'LM1SENT', 'CMP_DATE', 'CRT_DATE']
(22/27) filename: lhmr02.csv columns: ['HTHRM_ID', 'LM2READ', 'LM2CLASS', 'LM2INIT', 'REC_CMP', 'CENTER', 'LM2DATE', 'LM2TIME', 'CMP_DATE', 'CRT_DATE']
(23/27) filename: lhmr03.csv columns: ['Site', 'LM3ID', 'LM3READ', 'LM3READ_code', 'LM3RDATE', 'LM3MDATE', 'LM3MSTRH', 'LM3MSTRH_code', 'LM3AQUAL', 'LM3AQUAL_code', 'LM3T1A', 'LM3T1A_code', 'LM3T1C', 'LM3T1C_code', 'LM3T1S', 'LM3T1S_code', 'LM3T2A', 'LM3T2A_code', 'LM3T2C', 'LM3T2C_code', 'LM3T2S', 'LM3T2S_code', 'LM3T2FLRA', 'LM3T2FLRA_code', 'LM3T2FLRC', 'LM3T2FLRC_code', 'LM3T2FLRS', 'LM3T2FLRS_code', 'LM3GREA', 'LM3GREA_code', 'LM3GREC', 'LM3GREC_code', 'LM3GRES', 'LM3GRES_code', 'LM3SPGRA', 'LM3SPGRA_code', 'LM3SPGRC', 'LM3SPGRC_code', 'LM3SPGRS', 'LM3SPGRS_code', 'LM3DWI', 'LM3DWI_code', 'LM3ADC', 'LM3ADC_code', 'LM3OTH', 'LM3OTH_code', 'LM3OTHS', 'LM3OVERD', 'LM3OVERD_code', 'LM3SABNM', 'LM3SABNM_code', 'LHMRIID', 'SITENM', 'LM3OVERDC', 'LM3ATROP', 'LM3ATROP_code', 'LM3ATROPR', 'LM3QASSCC', 'LM3QASSCC_code', 'LM3QASSVDL', 'LM3QASSVDL_code', 'LM3QASSVDR', 'LM3QASSVDR_code', 'LM3INFAR', 'LM3INFAR_code', 'LM3INFARL', 'LM3INFARL_code', 'LM3INFARR', 'LM3INFARR_code', 'LM3WSHEDL', 'LM3WSHEDL_code', 'LM3WSHEDR', 'LM3WSHEDR_code', 'LM3MSHIFT', 'LM3MSHIFT_code', 'LM3BGTCL', 'LM3BGTCL_code', 'LM3PLICCL', 'LM3PLICCL_code', 'LM3ALICCL', 'LM3ALICCL_code', 'LM3WSHEDA', 'LM3WSHEDA_code', 'LM3WMINJ', 'LM3WMINJ_code', 'LM3FCINJ', 'LM3FCINJ_code', 'LM3PTINJ', 'LM3PTINJ_code', 'LM3COMMS', 'FormStatus', 'DateComplete', 'DateCreated', 'KeyedUser']
(24/27) filename: lhmr03a.csv columns: ['Site', 'LM3ID', 'LM3READ', 'LM3READ_code', 'LM3RDATE', 'LM3MDATE', 'LM3BGTCL', 'LM3BGTCL_code', 'LM3PLICCL', 'LM3PLICCL_code', 'LM3ALICCL', 'LM3ALICCL_code', 'LM3WSHEDA', 'LM3WSHEDA_code', 'LM3WMINJ', 'LM3WMINJ_code', 'LM3FCINJ', 'LM3FCINJ_code', 'LM3PTINJ', 'LM3PTINJ_code', 'FormStatus', 'DateComplete', 'DateCreated', 'KeyedUser']
(25/27) filename: lhmr03b.csv columns: ['Site', 'LM3ID', 'Iteration', 'LM3LSNM', 'LM3HEMI', 'LM3HEMI_code', 'LM3REG1', 'LM3REG1_code', 'LM3REG2', 'LM3REG2_code', 'LM3REG3', 'LM3REG3_code', 'LM3SIDE', 'LM3SIDE_code', 'LM3GMWM', 'LM3GMWM_code', 'LM3EXT1', 'LM3EXT1_code', 'LM3EXT2', 'LM3EXT2_code', 'LM3TYPE', 'LM3TYPE_code', 'LM3COMM', 'LM3TYPE2', 'LM3TYPE2_code', 'FormStatus', 'DateComplete', 'DateCreated', 'KeyedUser']
(26/27) filename: lhmr03c.csv columns: ['Site', 'LM3ID', 'LM3ATROP', 'LM3ATROP_code', 'LM3ATROPR', 'LM3QASSCC', 'LM3QASSCC_code', 'LM3QASSVDL', 'LM3QASSVDL_code', 'LM3QASSVDR', 'LM3QASSVDR_code', 'LM3INFAR', 'LM3INFAR_code', 'LM3INFARL', 'LM3INFARL_code', 'LM3INFARR', 'LM3INFARR_code', 'LM3WSHEDL', 'LM3WSHEDL_code', 'LM3WSHEDR', 'LM3WSHEDR_code', 'LM3MSHIFT', 'LM3MSHIFT_code', 'LM3READ', 'LM3READ_code', 'LM3RDATE', 'LM3MDATE', 'FormStatus', 'DateComplete', 'DateCreated', 'KeyedUser']

### 03.2 all columns

In [11]:
all_columns = []
for idx, each_df in enumerate(dfs):
    all_columns += list(map(lambda x: {'column': x, 'idx': idx, 'filename': filenames[idx]}, list(each_df.columns)))
df_columns = pd.DataFrame(all_columns)
df_columns['column:filename'] = df_columns.apply(lambda x: f"{x['column']}:{x['filename']}", axis=1)
df_columns['column:filename:idx'] = df_columns.apply(lambda x: f"{x['column']}:{x['filename']}:{x['idx']}", axis=1)
df_columns.sort_values(by=['filename', 'column'], inplace=True)

In [12]:
df_columns

,column,idx,filename,column:filename,column:filename:idx
6,BIRTHDT,0,lh01.csv,BIRTHDT:lh01.csv,BIRTHDT:lh01.csv:0
7,BIRTHNM,0,lh01.csv,BIRTHNM:lh01.csv,BIRTHNM:lh01.csv:0
5,CENTER,0,lh01.csv,CENTER:lh01.csv,CENTER:lh01.csv:0
8,CMP_DATE,0,lh01.csv,CMP_DATE:lh01.csv,CMP_DATE:lh01.csv:0
9,CRT_DATE,0,lh01.csv,CRT_DATE:lh01.csv,CRT_DATE:lh01.csv:0
...,...,...,...,...,...
860,LM3WSHEDL,26,lhmr03c.csv,LM3WSHEDL:lhmr03c.csv,LM3WSHEDL:lhmr03c.csv:26
861,LM3WSHEDL_code,26,lhmr03c.csv,LM3WSHEDL_code:lhmr03c.csv,LM3WSHEDL_code:lhmr03c.csv:26
862,LM3WSHEDR,26,lhmr03c.csv,LM3WSHEDR:lhmr03c.csv,LM3WSHEDR:lhmr03c.csv:26
863,LM3WSHEDR_code,26,lhmr03c.csv,LM3WSHEDR_code:lhmr03c.csv,LM3WSHEDR_code:lhmr03c.csv:26
843,Site,26,lhmr03c.csv,Site:lhmr03c.csv,Site:lhmr03c.csv:26

In [13]:
df_columns_count = df_columns.groupby(['column']).agg(count=('column', 'count')).sort_values(by=['count'], ascending=False)
df_columns_count.head(20)

                 count
column
CENTER              23
HTHRM_ID            23
CMP_DATE            22
CRT_DATE            22
REC_CMP             22
Site                 4
LM3ID                4
DateComplete         4
DateCreated          4
FormStatus           4
KeyedUser            4
LM3RDATE             3
LM3MDATE             3
LM3READ_code         3
LM3READ              3
LM3ATROP_code        2
LM3BGTCL             2
LM3ALICCL            2
LM3QASSVDR_code      2
LM3QASSVDR           2

### 03.3 check HTHRM_ID

In [14]:
is_HTHRM_ID = df_columns['column'] == 'HTHRM_ID'
df_columns[is_HTHRM_ID]

       column  idx    filename      column:filename     column:filename:idx
3    HTHRM_ID    0    lh01.csv    HTHRM_ID:lh01.csv     HTHRM_ID:lh01.csv:0
10   HTHRM_ID    1    lh02.csv    HTHRM_ID:lh02.csv     HTHRM_ID:lh02.csv:1
54   HTHRM_ID    2    lh04.csv    HTHRM_ID:lh04.csv     HTHRM_ID:lh04.csv:2
104  HTHRM_ID    3    lh05.csv    HTHRM_ID:lh05.csv     HTHRM_ID:lh05.csv:3
155  HTHRM_ID    4    lh06.csv    HTHRM_ID:lh06.csv     HTHRM_ID:lh06.csv:4
221  HTHRM_ID    5   lh06a.csv   HTHRM_ID:lh06a.csv    HTHRM_ID:lh06a.csv:5
240  HTHRM_ID    6  lh06bg.csv  HTHRM_ID:lh06bg.csv   HTHRM_ID:lh06bg.csv:6
253  HTHRM_ID    7  lh06cv.csv  HTHRM_ID:lh06cv.csv   HTHRM_ID:lh06cv.csv:7
268  HTHRM_ID    8   lh06f.csv   HTHRM_ID:lh06f.csv    HTHRM_ID:lh06f.csv:8
279  HTHRM_ID    9  lh06he.csv  HTHRM_ID:lh06he.csv   HTHRM_ID:lh06he.csv:9
295  HTHRM_ID   10  lh06ht.csv  HTHRM_ID:lh06ht.csv  HTHRM_ID:lh06ht.csv:10
305  HTHRM_ID   11  lh06om.csv  HTHRM_ID:lh06om.csv  HTHRM_ID:lh06om.csv:11
331  HTHRM_ID   12  lh06rs.csv  HTHRM_ID:lh06rs.csv  HTHRM_ID:lh06rs.csv:12
345  HTHRM_ID   13  lh06tr.csv  HTHRM_ID:lh06tr.csv  HTHRM_ID:lh06tr.csv:13
358  HTHRM_ID   14    lh07.csv    HTHRM_ID:lh07.csv    HTHRM_ID:lh07.csv:14
417  HTHRM_ID   15    lh09.csv    HTHRM_ID:lh09.csv    HTHRM_ID:lh09.csv:15
459  HTHRM_ID   16    lh10.csv    HTHRM_ID:lh10.csv    HTHRM_ID:lh10.csv:16
475  HTHRM_ID   17    lh11.csv    HTHRM_ID:lh11.csv    HTHRM_ID:lh11.csv:17
517  HTHRM_ID   18    lh12.csv    HTHRM_ID:lh12.csv    HTHRM_ID:lh12.csv:18
573  HTHRM_ID   19    lh13.csv    HTHRM_ID:lh13.csv    HTHRM_ID:lh13.csv:19
660  HTHRM_ID   20    lh14.csv    HTHRM_ID:lh14.csv    HTHRM_ID:lh14.csv:20
674  HTHRM_ID   21  lhmr01.csv  HTHRM_ID:lhmr01.csv  HTHRM_ID:lhmr01.csv:21
686  HTHRM_ID   22  lhmr02.csv  HTHRM_ID:lhmr02.csv  HTHRM_ID:lhmr02.csv:22

### 03.4 check LM3ID

In [15]:
is_LM3ID = df_columns['column'] == 'LM3ID'
df_columns[is_LM3ID]

    column  idx     filename    column:filename   column:filename:idx
697  LM3ID   23   lhmr03.csv   LM3ID:lhmr03.csv   LM3ID:lhmr03.csv:23
791  LM3ID   24  lhmr03a.csv  LM3ID:lhmr03a.csv  LM3ID:lhmr03a.csv:24
815  LM3ID   25  lhmr03b.csv  LM3ID:lhmr03b.csv  LM3ID:lhmr03b.csv:25
844  LM3ID   26  lhmr03c.csv  LM3ID:lhmr03c.csv  LM3ID:lhmr03c.csv:26

##### column not in dict

In [16]:
is_not_in_dict = df_columns['column'].isin(dict_lh_columns) == False
df_columns_not_in_dict = df_columns[is_not_in_dict]
df_columns_not_in_dict

,column,idx,filename,column:filename,column:filename:idx
8,CMP_DATE,0,lh01.csv,CMP_DATE:lh01.csv,CMP_DATE:lh01.csv:0
9,CRT_DATE,0,lh01.csv,CRT_DATE:lh01.csv,CRT_DATE:lh01.csv:0
2,FIRST,0,lh01.csv,FIRST:lh01.csv,FIRST:lh01.csv:0
1,LAST,0,lh01.csv,LAST:lh01.csv,LAST:lh01.csv:0
4,REC_CMP,0,lh01.csv,REC_CMP:lh01.csv,REC_CMP:lh01.csv:0
...,...,...,...,...,...
871,DateComplete,26,lhmr03c.csv,DateComplete:lhmr03c.csv,DateComplete:lhmr03c.csv:26
872,DateCreated,26,lhmr03c.csv,DateCreated:lhmr03c.csv,DateCreated:lhmr03c.csv:26
870,FormStatus,26,lhmr03c.csv,FormStatus:lhmr03c.csv,FormStatus:lhmr03c.csv:26
873,KeyedUser,26,lhmr03c.csv,KeyedUser:lhmr03c.csv,KeyedUser:lhmr03c.csv:26
866,LM3READ,26,lhmr03c.csv,LM3READ:lhmr03c.csv,LM3READ:lhmr03c.csv:26

In [17]:
columns_not_in_dict = list(df_columns_not_in_dict['column:filename:idx'].unique())
# columns_not_in_dict.sort()
columns_not_in_dict

['CMP_DATE:lh01.csv:0',
 'CRT_DATE:lh01.csv:0',
 'FIRST:lh01.csv:0',
 'LAST:lh01.csv:0',
 'REC_CMP:lh01.csv:0',
 'CMP_DATE:lh02.csv:1',
 'CRT_DATE:lh02.csv:1',
 'LH2INIT:lh02.csv:1',
 'LH2NAME:lh02.csv:1',
 'REC_CMP:lh02.csv:1',
 'CMP_DATE:lh04.csv:2',
 'CRT_DATE:lh04.csv:2',
 'LH4INIT:lh04.csv:2',
 'REC_CMP:lh04.csv:2',
 'CMP_DATE:lh05.csv:3',
 'CRT_DATE:lh05.csv:3',
 'LH5INIT:lh05.csv:3',
 'REC_CMP:lh05.csv:3',
 'CMP_DATE:lh06.csv:4',
 'CRT_DATE:lh06.csv:4',
 'REC_CMP:lh06.csv:4',
 'CMP_DATE:lh06a.csv:5',
 'CRT_DATE:lh06a.csv:5',
 'REC_CMP:lh06a.csv:5',
 'CMP_DATE:lh06bg.csv:6',
 'CRT_DATE:lh06bg.csv:6',
 'REC_CMP:lh06bg.csv:6',
 'CMP_DATE:lh06cv.csv:7',
 'CRT_DATE:lh06cv.csv:7',
 'REC_CMP:lh06cv.csv:7',
 'CMP_DATE:lh06he.csv:9',
 'CRT_DATE:lh06he.csv:9',
 'REC_CMP:lh06he.csv:9',
 'CMP_DATE:lh06ht.csv:10',
 'CRT_DATE:lh06ht.csv:10',
 'REC_CMP:lh06ht.csv:10',
 'CMP_DATE:lh06om.csv:11',
 'CRT_DATE:lh06om.csv:11',
 'REC_CMP:lh06om.csv:11',
 'CMP_DATE:lh06rs.csv:12',
 'CRT_DATE:lh06rs.csv:12',
 'REC_CMP:lh06rs.csv:12',
 'CMP_DATE:lh06tr.csv:13',
 'CRT_DATE:lh06tr.csv:13',
 'REC_CMP:lh06tr.csv:13',
 'CMP_DATE:lh07.csv:14',
 'CRT_DATE:lh07.csv:14',
 'LH7INIT:lh07.csv:14',
 'REC_CMP:lh07.csv:14',
 'CMP_DATE:lh09.csv:15',
 'CRT_DATE:lh09.csv:15',
 'REC_CMP:lh09.csv:15',
 'CMP_DATE:lh10.csv:16',
 'CRT_DATE:lh10.csv:16',
 'LH10INIT:lh10.csv:16',
 'REC_CMP:lh10.csv:16',
 'CMP_DATE:lh11.csv:17',
 'CRT_DATE:lh11.csv:17',
 'LH11NA_1:lh11.csv:17',
 'LH11NA_2:lh11.csv:17',
 'REC_CMP:lh11.csv:17',
 'CMP_DATE:lh12.csv:18',
 'CRT_DATE:lh12.csv:18',
 'LH12INIT:lh12.csv:18',
 'REC_CMP:lh12.csv:18',
 'CMP_DATE:lh13.csv:19',
 'CRT_DATE:lh13.csv:19',
 'LH13INIT:lh13.csv:19',
 'REC_CMP:lh13.csv:19',
 'CMP_DATE:lh14.csv:20',
 'CRT_DATE:lh14.csv:20',
 'LH14INIT:lh14.csv:20',
 'LH14NAME:lh14.csv:20',
 'REC_CMP:lh14.csv:20',
 'CMP_DATE:lhmr01.csv:21',
 'CRT_DATE:lhmr01.csv:21',
 'LM1INIT:lhmr01.csv:21',
 'REC_CMP:lhmr01.csv:21',
 'CMP_DATE:lhmr02.csv:22',
 'CRT_DATE:lhmr02.csv:22',
 'LM2INIT:lhmr02.csv:22',
 'REC_CMP:lhmr02.csv:22',
 'DateComplete:lhmr03.csv:23',
 'DateCreated:lhmr03.csv:23',
 'FormStatus:lhmr03.csv:23',
 'KeyedUser:lhmr03.csv:23',
 'LM3READ:lhmr03.csv:23',
 'DateComplete:lhmr03a.csv:24',
 'DateCreated:lhmr03a.csv:24',
 'FormStatus:lhmr03a.csv:24',
 'KeyedUser:lhmr03a.csv:24',
 'LM3READ:lhmr03a.csv:24',
 'DateComplete:lhmr03b.csv:25',
 'DateCreated:lhmr03b.csv:25',
 'FormStatus:lhmr03b.csv:25',
 'KeyedUser:lhmr03b.csv:25',
 'DateComplete:lhmr03c.csv:26',
 'DateCreated:lhmr03c.csv:26',
 'FormStatus:lhmr03c.csv:26',
 'KeyedUser:lhmr03c.csv:26',
 'LM3READ:lhmr03c.csv:26']

#### dict not in column

In [18]:
is_dict_not_in_columns = (df_dict[study_name].isin(df_columns['column']) == False) & (df_dict[study_name].isnull() == False)
df_dict_not_in_columns = df_dict[is_dict_not_in_columns]
df_dict_not_in_columns

Empty DataFrame
Columns: [Category, Subcategory, Standardized_VariableNames_Dictionary, type, Variable_Description, #studies w/ this var, redcap, comment, LH, OC]
Index: []

## 04. show column values

In [19]:
# XXX no show due to data privacy concern.

'''
for idx, each_df in enumerate(dfs):
    for idx2, column in enumerate(each_df.columns):
        print(f'({idx}/{len(dfs)}/{filenames[idx]}) ({idx2}/{len(each_df.columns)} column: {column} value: {list(each_df[column].unique())}')
'''

"\nfor idx, each_df in enumerate(dfs):\n    for idx2, column in enumerate(each_df.columns):\n        print(f'({idx}/{len(dfs)}/{filenames[idx]}) ({idx2}/{len(each_df.columns)} column: {column} value: {list(each_df[column].unique())}')\n"