In [1]:
import pandas as pd
import os

import COMBINE_harmonizer
from COMBINE_harmonizer import cfg

## 01. init

In [2]:
study_name = COMBINE_harmonizer.STUDY_LH
sheet_name = COMBINE_harmonizer.SHEET_FOLLOW_UP

root_dir = '..'

In [3]:
COMBINE_harmonizer.init(f'{root_dir}/config.yaml')

## 02. Dictionary

In [4]:
data_dict_filename = f'{root_dir}/Dictionary_HIE_clinical_variables.xlsx'

In [5]:
df_dict = COMBINE_harmonizer.load_data_dict(data_dict_filename, sheet_name)

In [6]:
dict_columns = list(df_dict[study_name].unique())

## 03. LH

In [7]:
the_dir = cfg.config[f'{study_name}_follow_up_dir']

In [8]:
filenames = os.listdir(the_dir)
filenames.sort()

full_filenames = [os.sep.join([the_dir, each_filename]) for each_filename in filenames]

In [9]:
analysis_dir = cfg.config[f'{study_name}_analysis_dir']

In [10]:
analysis_filenames = os.listdir(analysis_dir)
analysis_filenames.sort()

full_analysis_filenames = [os.sep.join([analysis_dir, each_filename]) for each_filename in analysis_filenames]

In [11]:
all_filenames = filenames + analysis_filenames
full_all_filenames = full_filenames + full_analysis_filenames
dfs = [pd.read_csv(each_filename) for each_filename in full_all_filenames]

### 03.1. check columns in each file

In [12]:
for idx, each_df in enumerate(dfs):
    print(f'({idx}/{len(dfs)}) filename: {all_filenames[idx]} columns: {list(each_df.columns)}')

(0/11) filename: lf01.csv columns: ['LHFOLNUM', 'SITENM', 'LAST', 'FIRST', 'HTHRM_ID', 'PROTID02', 'PROTID03', 'PROTID04', 'PROTID05', 'PROTID06', 'PROTID07', 'PROTID08', 'PROTID09', 'PROTID10', 'PROTID11', 'PROTID12', 'PROTID13', 'PROTID14', 'PROTID15', 'PROTID16', 'PROTID17', 'PROTID18', 'PROTID19', 'PROTID20', 'REC_CMP', 'CENTER', 'BIRTHDT', 'VISITDT', 'BIRTHNM', 'PREVCNTR', 'CMP_DATE', 'CRT_DATE']
(1/11) filename: lf03.csv columns: ['LHFOLNUM', 'CFSUPER', 'NF3MONEY', 'CFWKPCAR', 'CFWKOCAR', 'CFSCCARE', 'CFSCADUL', 'CFOTHLAN', 'CFSECLAN', 'CFOTHSEC', 'CFNDNRSV', 'CFNDNRSH', 'CFNDOTPT', 'CFNDSPCH', 'CFNDEALY', 'CFNDSOCL', 'CFNDCLIN', 'CFNDPUL', 'CFNDOPH', 'CFNDGAS', 'CFNDAUD', 'CFNDNEU', 'CFNDOTH', 'CFCVOSP', 'CFNDEVAL', 'CFNDPFU', 'CFREGDR', 'CFCCFAC', 'CFCAROT', 'CFTRDYCR', 'CFSPDYCR', 'CFHMDYCR', 'CFBBYSIT', 'CFINITS', 'REC_CMP', 'CENTER', 'CFVISDT', 'CFBRTHDT', 'CFCHRAGE', 'CFADJAGE', 'CFCARE', 'CFOCAR', 'CFMARITL', 'CFLIVING', 'CFPEOPLE', 'CFGRPCAR', 'CFGROCAR', 'CFINCOME', 'CFINSUR', 'CFLANG', 'CFSECOND', 'CFNMPLLV', 'NF3ZIP3', 'CFNURSEV', 'CFNURSEH', 'CFOTPT', 'CFSPEECH', 'CFEARLY', 'CFSOCIAL', 'CFCLINIC', 'CFCVPUL', 'CFCVOPH', 'CFCVGAS', 'CFCVAUD', 'CFCVNEU', 'CFCVOTH', 'CFEVAL', 'CFPREFU', 'CFTRDCHR', 'CFSPDCHR', 'CFSPDCLC', 'CFHMDCHR', 'CFHMDCLC', 'CFBSITHR', 'CFBABSTR', 'CFPRRESP', 'CFPLACE', 'CFCOMPDT', 'CMP_DATE', 'CRT_DATE']
(2/11) filename: lf04.csv columns: ['LHFOLNUM', 'DFREHOSP', 'DFOPERAT', 'DFOPTYMP', 'DFOPTRAC', 'DFOP_EYE', 'DFOPHERN', 'DFOPGAST', 'DFOPFUND', 'DFOPSHUN', 'DFOPREAN', 'DFOPPDA', 'DFOPBRON', 'DFOPHYPO', 'DFOPOTH', 'DFOPOTHS', 'DFMEDIC', 'NF4OTHSP', 'DFSEIZ', 'DFRECVD', 'DFFLUSHT', 'DFRSVPRO', 'DFSELF', 'DFASSIST', 'DFTUBFED', 'DF_TPN', 'DF_MILK', 'DFTBLFOD', 'DFSFTFOD', 'DFLIQUID', 'DFTHKLQD', 'DFEQUIP', 'DFSTROLL', 'DFBRACES', 'DFWALKER', 'DFSTNDER', 'DFCNRCHR', 'NF4LOCSP', 'DFINITS', 'REC_CMP', 'CENTER', 'DFTIMES', 'DFOPEYER', 'NF4NUTRI', 'NF4CALOR', 'NF4DIUR', 'NF4RFLUX', 'NF4BRONC', 'DFIHSTRD', 'DFOLSTRD', 'DFOASMA', 'DFALGYMD', 'NF4ANTCV', 'DFPRANTI', 'DFANTBIO', 'DFCNSPAT', 'DFBPMED', 'DFTHYRD', 'DFMRELAX', 'DFBOTOX', 'NF4OTMDS', 'DFAPNEA', 'DFOXYGEN', 'DFVENT', 'DFTUBE', 'DFTRACH', 'DFPLSEOX', 'DFPLACE', 'DFCOMPDT', 'CMP_DATE', 'CRT_DATE']
(3/11) filename: lf04a.csv columns: ['LHFOLNUM', 'DFINITSA', 'REC_CMP', 'CENTER', 'DFDISDT', 'DFBRDYDT', 'DFPLACEA', 'DFCMPDTA', 'CMP_DATE', 'CRT_DATE']
(4/11) filename: lf04ar.csv columns: ['LHFOLNUM', 'NF4AROTS', 'REC_CMP', 'CENTER', 'DFREADNM', 'DFTIMEA', 'DFCAUSE', 'CMP_DATE', 'CRT_DATE']
(5/11) filename: lf05.csv columns: ['LHFOLNUM', 'EFAUDIO', 'EFCONPEN', 'NF5VRA', 'NF5ABR', 'NF5UKHR', 'NF5DYSPH', 'NF5ASPIR', 'NF5ABVOC', 'NF5DROOL', 'NF5NPO', 'EFABREST', 'EFSHORTR', 'EFSLOWR', 'EFTREMRR', 'NF5SCISS', 'EFDGNORM', 'EFHYPOT', 'EFHYPERT', 'EFOTHER', 'NF5OCPSP', 'EFDIPLEG', 'EFHEMRT', 'EFHEMLT', 'EFQUADR', 'EFTRIPLE', 'EFATHETO', 'NF5HYPTN', 'NF5MNPLG', 'NF5MXCP', 'NF5CPUN', 'NF5CPSP', 'EFCERPAL', 'EFCONGEN', 'EFCONGSP', 'NF5LOCSP', 'NF5FACSP', 'EFINITS', 'REC_CMP', 'CENTER', 'EFWEIGHT', 'EFLENGTH', 'EFHC', 'NF5STRRT', 'NF5STRLT', 'NF5NYSRT', 'NF5NYSLT', 'NF5ROVRT', 'NF5ROVLT', 'NF5TRKRT', 'NF5TRKLT', 'EFVISINR', 'EFVISINL', 'NF5VRART', 'NF5VRALT', 'NF5VRASN', 'NF5ABRRT', 'NF5ABRLT', 'NF5UKHRT', 'NF5UKHLT', 'EFHEARIM', 'EFHRDIS', 'EFSWALL', 'NF5NCTRK', 'NF5UPEXR', 'NF5UPEXL', 'NF5HPKNR', 'NF5HPKNL', 'NF5ANKLR', 'NF5ANKLL', 'NF5GROSS', 'NF5HNDPF', 'NF5PRORF', 'NF5LMBUP', 'NF5LMBLW', 'NF5UPRRT', 'NF5UPRLT', 'NF5KNERT', 'NF5KNELT', 'NF5AKLRT', 'NF5AKLLT', 'NF5CLNRT', 'NF5CLNLT', 'NF5PLNRT', 'NF5PLNLT', 'EFAXISHD', 'EFAXTRNK', 'EFLWRLMB', 'EFUPRLMB', 'EFRHAND', 'EFLHAND', 'EFCERGR', 'EFPLACE', 'NF5QUALT', 'NF5FACTR', 'EFCOMPDT', 'CMP_DATE', 'CRT_DATE']
(6/11) filename: lf09a.csv columns: ['LHFOLNUM', 'NF9ACSU', 'NF9ACSUS', 'NF9ALRC', 'NF9ALRCS', 'NF9ALEC', 'NF9ALECS', 'NF9AMFN', 'NF9AMFNS', 'NF9AMGR', 'NF9AMGRS', 'NF9ABSEN', 'NF9ABSIN', 'NF9ABSMK', 'NF9AINIT', 'REC_CMP', 'CENTER', 'NF9ACSUR', 'NF9ALRCR', 'NF9ALECR', 'NF9AMFNR', 'NF9AMGRR', 'NF9AAACS', 'NF9AAARC', 'NF9AAAEC', 'NF9AAAMF', 'NF9AAAMG', 'NF9ABSCR', 'NF9ABSCS', 'NF9ABSCC', 'NF9ABSRR', 'NF9ABSRS', 'NF9ABSER', 'NF9ABSES', 'NF9ABSLS', 'NF9ABSLC', 'NF9AMFRW', 'NF9AMFSS', 'NF9AMGRW', 'NF9AMGSS', 'NF9AMGSM', 'NF9AMCMP', 'NF9AWEC', 'NF9ADATE', 'CMP_DATE', 'CRT_DATE']
(7/11) filename: lf10.csv columns: ['LHFOLNUM', 'JFINITS', 'REC_CMP', 'CENTER', 'JFBRTDT', 'NF10VSDT', 'JFSTATUS', 'JFDTHDT', 'JFREASN', 'JFCOMPDT', 'NF10CNTR', 'CMP_DATE', 'CRT_DATE']
(8/11) filename: lf11.csv columns: ['LHFOLNUM', 'KFSESDIS', 'KFSES18', 'KFMEDHIS', 'KFREADM', 'KFINFEXM', 'KFBAYLE3', 'KFSTATFM', 'KFLOSTFM', 'KFINITS', 'REC_CMP', 'CENTER', 'KFFSTDT', 'KFSECDT', 'KFCOMPDT', 'CMP_DATE', 'CRT_DATE']
(9/11) filename: lf12.csv columns: ['LHFOLNUM', 'LFOSOURC', 'LFALIVE', 'LFINTERV', 'LFCHART2', 'LFWALK', 'LFSITTIN', 'LFHEAD', 'LFSEE', 'LFEYEQ', 'NF12GLAS', 'LFHEAR', 'LFHEARQ', 'LFHEAIDQ', 'NF12C2WD', 'NF12C3WD', 'LFHYDROQ', 'LFCPQ', 'LFDEVDQ', 'LFLANDQ', 'LFWEIGHQ', 'LFSEIZUQ', 'LFBLINDQ', 'NF12BHPB', 'NF12BHDS', 'NF12MDPB', 'NF12MDDS', 'NF12NRPB', 'NF12NRDS', 'LFINITA', 'NF12CHBD', 'NF12CHMD', 'NF12CHND', 'NF12INIT', 'REC_CMP', 'CENTER', 'LFCONTDT', 'LFCOMPDT', 'LFADJAGE', 'LFDTHDT', 'LFINTDT', 'LFINTAGE', 'LFCHARDT', 'LFCHARAG', 'LFHEALTH', 'LFWKAGE', 'NF12NMWD', 'LFEYEC', 'LFHEARC', 'LFHEAIDC', 'LFHYDROC', 'LFCPC', 'LFDEVDEC', 'LFLANDEC', 'LFWEIGHC', 'LFSEIZUC', 'NF12BLND', 'NF12CHBH', 'NF12CHMM', 'NF12CHNR', 'CMP_DATE', 'CRT_DATE']
(10/11) filename: analysis.csv columns: ['HTHRM_ID', 'CENTER', 'fcenter', 'blindness', 'hearing', 'hear_imp', 'gross', 'cp_out', 'modsevcp', 'bayley3', 'death18', 'all_norm', 'hosp_die', 'any_antic', 'LHFOLNUM', 'any_seiz', 'seiz_fu', 'disab_ms', 'disab_4', 'disab_die', 'disab_die4', 'MRI_DATE', 'MRI_TIME', 'MRI_AGED', 'MRI_UNREAD', 'MRI_RDATE_PB', 'MRI_RDATE_NR', 'MRI_RDATE_WG', 'MRI_RDATE_LC', 'MRI_PATTERN', 'MRI_PATTERN_PB', 'MRI_PATTERN_NR', 'MRI_PATTERN_WG', 'MRI_PATTERN_LC', 'MRI_PCLASS', 'MRI_PCLASS_PB', 'MRI_PCLASS_NR', 'MRI_PCLASS_WG', 'MRI_PCLASS_LC', 'MRI_INFARL', 'MRI_INFARL_PB', 'MRI_INFARL_NR', 'MRI_INFARL_WG', 'MRI_INFARR', 'MRI_INFARR_PB', 'MRI_INFARR_NR', 'MRI_INFARR_WG', 'MRI_NOTDONE']

### 03.2 all columns

In [13]:
all_columns = []
for idx, each_df in enumerate(dfs):
    all_columns += list(map(lambda x: {'column': x, 'idx': idx, 'filename': all_filenames[idx]}, list(each_df.columns)))
df_columns = pd.DataFrame(all_columns)
df_columns['column:filename'] = df_columns.apply(lambda x: f"{x['column']}:{x['filename']}", axis=1)
df_columns['column:filename:idx'] = df_columns.apply(lambda x: f"{x['column']}:{x['filename']}:{x['idx']}", axis=1)
df_columns.sort_values(by=['filename', 'column'], inplace=True)

In [14]:
df_columns

,column,idx,filename,column:filename,column:filename:idx
439,CENTER,10,analysis.csv,CENTER:analysis.csv,CENTER:analysis.csv:10
438,HTHRM_ID,10,analysis.csv,HTHRM_ID:analysis.csv,HTHRM_ID:analysis.csv:10
452,LHFOLNUM,10,analysis.csv,LHFOLNUM:analysis.csv,LHFOLNUM:analysis.csv:10
461,MRI_AGED,10,analysis.csv,MRI_AGED:analysis.csv,MRI_AGED:analysis.csv:10
459,MRI_DATE,10,analysis.csv,MRI_DATE:analysis.csv,MRI_DATE:analysis.csv:10
...,...,...,...,...,...
401,NF12MDPB,9,lf12.csv,NF12MDPB:lf12.csv,NF12MDPB:lf12.csv:9
422,NF12NMWD,9,lf12.csv,NF12NMWD:lf12.csv,NF12NMWD:lf12.csv:9
404,NF12NRDS,9,lf12.csv,NF12NRDS:lf12.csv,NF12NRDS:lf12.csv:9
403,NF12NRPB,9,lf12.csv,NF12NRPB:lf12.csv,NF12NRPB:lf12.csv:9
410,REC_CMP,9,lf12.csv,REC_CMP:lf12.csv,REC_CMP:lf12.csv:9

In [15]:
df_columns_count = df_columns.groupby(['column']).agg(_count=('column', 'count')).sort_values(by=['_count'], ascending=False)
df_columns_count.head(20)

          _count
column
CENTER        11
LHFOLNUM      11
CRT_DATE      10
REC_CMP       10
CMP_DATE      10
HTHRM_ID       2
BIRTHDT        1
NF4AROTS       1
NF4OTMDS       1
NF4OTHSP       1
NF4NUTRI       1
NF4LOCSP       1
NF4DIUR        1
NF4CALOR       1
NF4BRONC       1
NF4ANTCV       1
NF5ABR         1
NF3ZIP3        1
NF3MONEY       1
NF12NRPB       1

### 03.3 check LHFOLNUM

In [16]:
is_LHFOLNUM = df_columns['column'] == 'LHFOLNUM'
df_columns[is_LHFOLNUM]

,column,idx,filename,column:filename,column:filename:idx
452,LHFOLNUM,10,analysis.csv,LHFOLNUM:analysis.csv,LHFOLNUM:analysis.csv:10
0,LHFOLNUM,0,lf01.csv,LHFOLNUM:lf01.csv,LHFOLNUM:lf01.csv:0
32,LHFOLNUM,1,lf03.csv,LHFOLNUM:lf03.csv,LHFOLNUM:lf03.csv:1
112,LHFOLNUM,2,lf04.csv,LHFOLNUM:lf04.csv,LHFOLNUM:lf04.csv:2
183,LHFOLNUM,3,lf04a.csv,LHFOLNUM:lf04a.csv,LHFOLNUM:lf04a.csv:3
193,LHFOLNUM,4,lf04ar.csv,LHFOLNUM:lf04ar.csv,LHFOLNUM:lf04ar.csv:4
202,LHFOLNUM,5,lf05.csv,LHFOLNUM:lf05.csv,LHFOLNUM:lf05.csv:5
300,LHFOLNUM,6,lf09a.csv,LHFOLNUM:lf09a.csv,LHFOLNUM:lf09a.csv:6
346,LHFOLNUM,7,lf10.csv,LHFOLNUM:lf10.csv,LHFOLNUM:lf10.csv:7
359,LHFOLNUM,8,lf11.csv,LHFOLNUM:lf11.csv,LHFOLNUM:lf11.csv:8
376,LHFOLNUM,9,lf12.csv,LHFOLNUM:lf12.csv,LHFOLNUM:lf12.csv:9

##### column not in dict

In [17]:
is_not_in_dict = df_columns['column'].isin(dict_columns) == False
df_columns_not_in_dict = df_columns[is_not_in_dict]
df_columns_not_in_dict

,column,idx,filename,column:filename,column:filename:idx
461,MRI_AGED,10,analysis.csv,MRI_AGED:analysis.csv,MRI_AGED:analysis.csv:10
459,MRI_DATE,10,analysis.csv,MRI_DATE:analysis.csv,MRI_DATE:analysis.csv:10
477,MRI_INFARL,10,analysis.csv,MRI_INFARL:analysis.csv,MRI_INFARL:analysis.csv:10
479,MRI_INFARL_NR,10,analysis.csv,MRI_INFARL_NR:analysis.csv,MRI_INFARL_NR:analysis.csv:10
478,MRI_INFARL_PB,10,analysis.csv,MRI_INFARL_PB:analysis.csv,MRI_INFARL_PB:analysis.csv:10
...,...,...,...,...,...
436,CMP_DATE,9,lf12.csv,CMP_DATE:lf12.csv,CMP_DATE:lf12.csv:9
437,CRT_DATE,9,lf12.csv,CRT_DATE:lf12.csv,CRT_DATE:lf12.csv:9
405,LFINITA,9,lf12.csv,LFINITA:lf12.csv,LFINITA:lf12.csv:9
409,NF12INIT,9,lf12.csv,NF12INIT:lf12.csv,NF12INIT:lf12.csv:9
410,REC_CMP,9,lf12.csv,REC_CMP:lf12.csv,REC_CMP:lf12.csv:9

In [18]:
columns_not_in_dict = list(df_columns_not_in_dict['column:filename:idx'].unique())
# columns_not_in_dict.sort()
columns_not_in_dict

['MRI_AGED:analysis.csv:10',
 'MRI_DATE:analysis.csv:10',
 'MRI_INFARL:analysis.csv:10',
 'MRI_INFARL_NR:analysis.csv:10',
 'MRI_INFARL_PB:analysis.csv:10',
 'MRI_INFARL_WG:analysis.csv:10',
 'MRI_INFARR:analysis.csv:10',
 'MRI_INFARR_NR:analysis.csv:10',
 'MRI_INFARR_PB:analysis.csv:10',
 'MRI_INFARR_WG:analysis.csv:10',
 'MRI_NOTDONE:analysis.csv:10',
 'MRI_PATTERN:analysis.csv:10',
 'MRI_PATTERN_LC:analysis.csv:10',
 'MRI_PATTERN_NR:analysis.csv:10',
 'MRI_PATTERN_PB:analysis.csv:10',
 'MRI_PATTERN_WG:analysis.csv:10',
 'MRI_PCLASS:analysis.csv:10',
 'MRI_PCLASS_LC:analysis.csv:10',
 'MRI_PCLASS_NR:analysis.csv:10',
 'MRI_PCLASS_PB:analysis.csv:10',
 'MRI_PCLASS_WG:analysis.csv:10',
 'MRI_RDATE_LC:analysis.csv:10',
 'MRI_RDATE_NR:analysis.csv:10',
 'MRI_RDATE_PB:analysis.csv:10',
 'MRI_RDATE_WG:analysis.csv:10',
 'MRI_TIME:analysis.csv:10',
 'MRI_UNREAD:analysis.csv:10',
 'any_antic:analysis.csv:10',
 'any_seiz:analysis.csv:10',
 'fcenter:analysis.csv:10',
 'CMP_DATE:lf01.csv:0',
 'CRT_DATE:lf01.csv:0',
 'FIRST:lf01.csv:0',
 'LAST:lf01.csv:0',
 'PROTID02:lf01.csv:0',
 'PROTID03:lf01.csv:0',
 'PROTID04:lf01.csv:0',
 'PROTID05:lf01.csv:0',
 'PROTID06:lf01.csv:0',
 'PROTID07:lf01.csv:0',
 'PROTID08:lf01.csv:0',
 'PROTID09:lf01.csv:0',
 'PROTID10:lf01.csv:0',
 'PROTID11:lf01.csv:0',
 'PROTID12:lf01.csv:0',
 'PROTID13:lf01.csv:0',
 'PROTID14:lf01.csv:0',
 'PROTID15:lf01.csv:0',
 'PROTID16:lf01.csv:0',
 'PROTID17:lf01.csv:0',
 'PROTID18:lf01.csv:0',
 'PROTID19:lf01.csv:0',
 'PROTID20:lf01.csv:0',
 'REC_CMP:lf01.csv:0',
 'CFINITS:lf03.csv:1',
 'CFPRRESP:lf03.csv:1',
 'CMP_DATE:lf03.csv:1',
 'CRT_DATE:lf03.csv:1',
 'REC_CMP:lf03.csv:1',
 'CMP_DATE:lf04.csv:2',
 'CRT_DATE:lf04.csv:2',
 'DFCOMPDT:lf04.csv:2',
 'DFINITS:lf04.csv:2',
 'DFPLACE:lf04.csv:2',
 'NF4LOCSP:lf04.csv:2',
 'REC_CMP:lf04.csv:2',
 'CMP_DATE:lf04a.csv:3',
 'CRT_DATE:lf04a.csv:3',
 'DFINITSA:lf04a.csv:3',
 'REC_CMP:lf04a.csv:3',
 'CMP_DATE:lf04ar.csv:4',
 'CRT_DATE:lf04ar.csv:4',
 'REC_CMP:lf04ar.csv:4',
 'CMP_DATE:lf05.csv:5',
 'CRT_DATE:lf05.csv:5',
 'EFINITS:lf05.csv:5',
 'REC_CMP:lf05.csv:5',
 'CMP_DATE:lf09a.csv:6',
 'CRT_DATE:lf09a.csv:6',
 'NF9AINIT:lf09a.csv:6',
 'REC_CMP:lf09a.csv:6',
 'CMP_DATE:lf10.csv:7',
 'CRT_DATE:lf10.csv:7',
 'JFCOMPDT:lf10.csv:7',
 'JFINITS:lf10.csv:7',
 'NF10CNTR:lf10.csv:7',
 'REC_CMP:lf10.csv:7',
 'CMP_DATE:lf11.csv:8',
 'CRT_DATE:lf11.csv:8',
 'KFBAYLE3:lf11.csv:8',
 'KFCOMPDT:lf11.csv:8',
 'KFINFEXM:lf11.csv:8',
 'KFINITS:lf11.csv:8',
 'KFLOSTFM:lf11.csv:8',
 'KFMEDHIS:lf11.csv:8',
 'KFREADM:lf11.csv:8',
 'KFSES18:lf11.csv:8',
 'KFSESDIS:lf11.csv:8',
 'KFSTATFM:lf11.csv:8',
 'REC_CMP:lf11.csv:8',
 'CMP_DATE:lf12.csv:9',
 'CRT_DATE:lf12.csv:9',
 'LFINITA:lf12.csv:9',
 'NF12INIT:lf12.csv:9',
 'REC_CMP:lf12.csv:9']

#### dict not in column

In [19]:
is_dict_not_in_columns = (df_dict[study_name].isin(df_columns['column']) == False) & (df_dict[study_name].isnull() == False)
df_dict_not_in_columns = df_dict[is_dict_not_in_columns]
df_dict_not_in_columns

Empty DataFrame
Columns: [Category, Subcategory, Standardized_VariableNames_Dictionary, type, Variable_Description, #studies w/ this var, redcap, comment, lower_var, var_eq_redcap, connect_redcap, LH, OC]
Index: []

## 04. show column values

In [20]:
# XXX no show due to data privacy concern.

'''
for idx, each_df in enumerate(dfs):
    for idx2, column in enumerate(each_df.columns):
        print(f'({idx}/{len(dfs)}/{filenames[idx]}) ({idx2}/{len(each_df.columns)} column: {column} value: {list(each_df[column].unique())}')
'''

"\nfor idx, each_df in enumerate(dfs):\n    for idx2, column in enumerate(each_df.columns):\n        print(f'({idx}/{len(dfs)}/{filenames[idx]}) ({idx2}/{len(each_df.columns)} column: {column} value: {list(each_df[column].unique())}')\n"