In [1]:
import pandas as pd
import os

import COMBINE_harmonizer
from COMBINE_harmonizer import cfg

## 01. init

In [2]:
study_name = COMBINE_harmonizer.STUDY_OC
sheet_name = COMBINE_harmonizer.SHEET_FOLLOW_UP

root_dir = '..'

In [3]:
COMBINE_harmonizer.init(f'{root_dir}/config.yaml')

## 02. Dictionary

In [4]:
data_dict_filename = f'{root_dir}/Dictionary_HIE_clinical_variables.xlsx'

In [5]:
df_dict = COMBINE_harmonizer.load_data_dict(data_dict_filename, sheet_name)

In [6]:
dict_columns = list(df_dict[study_name].unique())

## 03. OC

In [7]:
the_dir = cfg.config[f'{study_name}_follow_up_dir']

In [8]:
filenames = os.listdir(the_dir)
filenames.sort()

In [9]:
dfs = [pd.read_csv(os.sep.join([the_dir, each_filename])) for each_filename in filenames]

### 03.1. check columns in each file

In [10]:
for idx, each_df in enumerate(dfs):
    print(f'({idx}/{len(dfs)}) filename: {filenames[idx]} columns: {list(each_df.columns)}')

(0/10) filename: of01.csv columns: ['LHFOLNUM', 'SITENM', 'LAST', 'FIRST', 'HTHRM_ID', 'PROTID02', 'PROTID03', 'PROTID04', 'PROTID05', 'PROTID06', 'PROTID07', 'PROTID08', 'PROTID09', 'PROTID10', 'PROTID11', 'PROTID12', 'PROTID13', 'PROTID14', 'PROTID15', 'PROTID16', 'PROTID17', 'PROTID18', 'PROTID19', 'PROTID20', 'REC_CMP', 'CENTER', 'BIRTHDT', 'VISITDT', 'BIRTHNM', 'PREVCNTR', 'CMP_DATE', 'CRT_DATE']
(1/10) filename: of03.csv columns: ['LHFOLNUM', 'CFSUPER', 'NF3MONEY', 'CFWKPCAR', 'CFWKOCAR', 'CFSCCARE', 'CFSCADUL', 'CFOTHLAN', 'CFSECLAN', 'CFOTHSEC', 'CFNDNRSV', 'CFNDNRSH', 'CFNDOTPT', 'CFNDSPCH', 'CFNDEALY', 'CFNDSOCL', 'CFNDPUL', 'CFNDOPH', 'CFNDGAS', 'CFNDAUD', 'CFNDNEU', 'CFNDOTH', 'CFCVOSP', 'CFNDEVAL', 'CFREGDR', 'CFCCFAC', 'CFCAROT', 'CFTRDYCR', 'CFSPDYCR', 'CFHMDYCR', 'CFBBYSIT', 'CFINITS', 'REC_CMP', 'CENTER', 'CFVISDT', 'CFBRTHDT', 'CFCHRAGE', 'CFADJAGE', 'CFCARE', 'CFOCAR', 'CFMARITL', 'CFLIVING', 'CFPEOPLE', 'CFGRPCAR', 'CFGROCAR', 'CFINSUR', 'CFLANG', 'CFSECOND', 'CFNMPLLV', 'CFNURSEV', 'CFNURSEH', 'CFOTPT', 'CFSPEECH', 'CFEARLY', 'CFSOCIAL', 'CFCVPUL', 'CFCVOPH', 'CFCVGAS', 'CFCVAUD', 'CFCVNEU', 'CFCVOTH', 'CFEVAL', 'CFTRDCHR', 'CFSPDCHR', 'CFSPDCLC', 'CFHMDCHR', 'CFHMDCLC', 'CFBSITHR', 'CFBABSTR', 'CFPRRESP', 'CFPLACE', 'CFCOMPDT', 'CMP_DATE', 'CRT_DATE']
(2/10) filename: of04.csv columns: ['LHFOLNUM', 'DFREHOSP', 'DFOPERAT', 'DFOPTYMP', 'DFOPTRAC', 'DFOP_EYE', 'DFOPHERN', 'DFOPGAST', 'DFOPFUND', 'DFOPSHUN', 'DFOPREAN', 'DFOPPDA', 'DFOPBRON', 'DFOPHYPO', 'DFOPOTH', 'DFOPOTHS', 'DFMEDIC', 'NF4OTHSP', 'DFSEIZ', 'DFRECVD', 'DFFLUSHT', 'DFRSVPRO', 'DFSELF', 'DFASSIST', 'DFTUBFED', 'DF_TPN', 'DF_MILK', 'DFTBLFOD', 'DFSFTFOD', 'DFLIQUID', 'DFTHKLQD', 'DFEQUIP', 'DFSTROLL', 'DFBRACES', 'DFWALKER', 'DFSTNDER', 'DFCNRCHR', 'NF4LOCSP', 'DFINITS', 'REC_CMP', 'OF4FTNEC', 'CENTER', 'DFTIMES', 'DFOPEYER', 'NF4NUTRI', 'NF4CALOR', 'NF4DIUR', 'NF4RFLUX', 'NF4BRONC', 'DFIHSTRD', 'DFOLSTRD', 'DFOASMA', 'DFALGYMD', 'NF4ANTCV', 'DFPRANTI', 'DFANTBIO', 'DFCNSPAT', 'DFBPMED', 'DFTHYRD', 'DFMRELAX', 'DFBOTOX', 'NF4OTMDS', 'DFAPNEA', 'DFOXYGEN', 'DFVENT', 'DFTUBE', 'DFTRACH', 'DFPLSEOX', 'DFPLACE', 'DFCOMPDT', 'CMP_DATE', 'CRT_DATE']
(3/10) filename: of04a.csv columns: ['LHFOLNUM', 'DFINITSA', 'REC_CMP', 'CENTER', 'DFDISDT', 'DFBRDYDT', 'DFPLACEA', 'DFCMPDTA', 'CMP_DATE', 'CRT_DATE']
(4/10) filename: of04ar.csv columns: ['LHFOLNUM', 'NF4AROTS', 'OFTIMICU', 'REC_CMP', 'CENTER', 'DFREADNM', 'DFTIMEA', 'DFCAUSE', 'OFLENOHS', 'CMP_DATE', 'CRT_DATE']
(5/10) filename: of05.csv columns: ['LHFOLNUM', 'EFAUDIO', 'EFCONPEN', 'NF5VRA', 'NF5ABR', 'NF5UKHR', 'NF5DYSPH', 'NF5ASPIR', 'NF5ABVOC', 'NF5DROOL', 'NF5NPO', 'EFABREST', 'EFSHORTR', 'EFSLOWR', 'EFTREMRR', 'NF5SCISS', 'EFDGNORM', 'EFHYPOT', 'EFHYPERT', 'EFOTHER', 'NF5OCPSP', 'EFQUADR', 'EFDIPLEG', 'EFHEMRT', 'EFHEMLT', 'OF5DYSTO', 'OF5ATCHA', 'OF5ATAXI', 'OFCPUN', 'OFCPUNDE', 'OFCERPAL', 'OFCLPAL', 'EFCONGEN', 'EFCONGSP', 'NF5LOCSP', 'NF5FACSP', 'EFINITS', 'REC_CMP', 'CENTER', 'EFWEIGHT', 'EFLENGTH', 'EFHC', 'NF5STRRT', 'NF5STRLT', 'NF5NYSRT', 'NF5NYSLT', 'NF5ROVRT', 'NF5ROVLT', 'NF5TRKRT', 'NF5TRKLT', 'EFVISINR', 'EFVISINL', 'NF5VRART', 'NF5VRALT', 'NF5VRASN', 'NF5ABRRT', 'NF5ABRLT', 'NF5UKHRT', 'NF5UKHLT', 'EFHEARIM', 'EFHRDIS', 'OFIMPLAN', 'EFSWALL', 'NF5NCTRK', 'NF5UPEXR', 'NF5UPEXL', 'NF5HPKNR', 'NF5HPKNL', 'NF5ANKLR', 'NF5ANKLL', 'NF5GROSS', 'NF5HNDPF', 'NF5PRORF', 'NF5LMBUP', 'NF5LMBLW', 'NF5UPRRT', 'NF5UPRLT', 'NF5KNERT', 'NF5KNELT', 'NF5AKLRT', 'NF5AKLLT', 'NF5CLNRT', 'NF5CLNLT', 'NF5PLNRT', 'NF5PLNLT', 'EFAXISHD', 'EFAXTRNK', 'EFLWRLMB', 'EFUPRLMB', 'EFRHAND', 'EFLHAND', 'EFPLACE', 'NF5QUALT', 'NF5FACTR', 'EFCOMPDT', 'CMP_DATE', 'CRT_DATE']
(6/10) filename: of09a.csv columns: ['LHFOLNUM', 'NF9ACSU', 'NF9ACSUS', 'NF9ALRC', 'NF9ALRCS', 'NF9ALEC', 'NF9ALECS', 'NF9AMFN', 'NF9AMFNS', 'NF9AMGR', 'NF9AMGRS', 'NF9ABSEN', 'NF9ABSIN', 'NF9ABSMK', 'NF9AINIT', 'REC_CMP', 'CENTER', 'NF9ACSUR', 'NF9ALRCR', 'NF9ALECR', 'NF9AMFNR', 'NF9AMGRR', 'NF9AAACS', 'NF9AAARC', 'NF9AAAEC', 'NF9AAAMF', 'NF9AAAMG', 'NF9ABSCR', 'NF9ABSCS', 'NF9ABSCC', 'NF9ABSRR', 'NF9ABSRS', 'NF9ABSER', 'NF9ABSES', 'NF9ABSLS', 'NF9ABSLC', 'NF9AMFRW', 'NF9AMFSS', 'NF9AMGRW', 'NF9AMGSS', 'NF9AMGSM', 'NF9AMCMP', 'NF9AWEC', 'NF9ADATE', 'CMP_DATE', 'CRT_DATE']
(7/10) filename: of10.csv columns: ['LHFOLNUM', 'JFINITS', 'REC_CMP', 'CENTER', 'JFBRTDT', 'NF10VSDT', 'JFSTATUS', 'JFDTHDT', 'OFCAUSOD', 'JFREASN', 'JFCOMPDT', 'NF10CNTR', 'CMP_DATE', 'CRT_DATE']
(8/10) filename: of11.csv columns: ['LHFOLNUM', 'KFSESDIS', 'KFSES18', 'KFMEDHIS', 'KFREADM', 'KFINFEXM', 'KFBAYLE3', 'KFSTATFM', 'KFLOSTFM', 'KFINITS', 'REC_CMP', 'CENTER', 'KFFSTDT', 'KFSECDT', 'KFCOMPDT', 'CMP_DATE', 'CRT_DATE']
(9/10) filename: of12.csv columns: ['LHFOLNUM', 'LFOSOURC', 'LFALIVE', 'LFINTERV', 'LFCHART2', 'LFWALK', 'LFSITTIN', 'LFHEAD', 'LFSEE', 'LFEYEQ', 'NF12GLAS', 'LFHEAR', 'LFHEARQ', 'LFHEAIDQ', 'NF12C2WD', 'NF12C3WD', 'LFHYDROQ', 'LFCPQ', 'LFDEVDQ', 'LFLANDQ', 'LFWEIGHQ', 'LFSEIZUQ', 'LFBLINDQ', 'NF12BHPB', 'NF12BHDS', 'NF12MDPB', 'NF12MDDS', 'NF12NRPB', 'NF12NRDS', 'LFINITA', 'NF12CHBD', 'NF12CHMD', 'NF12CHND', 'NF12INIT', 'REC_CMP', 'CENTER', 'LFCONTDT', 'LFCOMPDT', 'LFADJAGE', 'LFDTHDT', 'LFINTDT', 'LFINTAGE', 'LFCHARDT', 'LFCHARAG', 'LFHEALTH', 'LFWKAGE', 'NF12NMWD', 'OF12GMFL', 'LFEYEC', 'LFHEARC', 'LFHEAIDC', 'LFHYDROC', 'LFCPC', 'LFDEVDEC', 'LFLANDEC', 'LFWEIGHC', 'LFSEIZUC', 'NF12BLND', 'NF12CHBH', 'NF12CHMM', 'NF12CHNR', 'OF12CHGM', 'CMP_DATE', 'CRT_DATE']

### 03.2 all columns

In [11]:
all_columns = []
for idx, each_df in enumerate(dfs):
    all_columns += list(map(lambda x: {'column': x, 'idx': idx, 'filename': filenames[idx]}, list(each_df.columns)))
df_columns = pd.DataFrame(all_columns)
df_columns['column:filename'] = df_columns.apply(lambda x: f"{x['column']}:{x['filename']}", axis=1)
df_columns['column:filename:idx'] = df_columns.apply(lambda x: f"{x['column']}:{x['filename']}:{x['idx']}", axis=1)
df_columns.sort_values(by=['filename', 'column'], inplace=True)

In [12]:
df_columns

       column  idx  filename    column:filename  column:filename:idx
26    BIRTHDT    0  of01.csv   BIRTHDT:of01.csv   BIRTHDT:of01.csv:0
28    BIRTHNM    0  of01.csv   BIRTHNM:of01.csv   BIRTHNM:of01.csv:0
25     CENTER    0  of01.csv    CENTER:of01.csv    CENTER:of01.csv:0
30   CMP_DATE    0  of01.csv  CMP_DATE:of01.csv  CMP_DATE:of01.csv:0
31   CRT_DATE    0  of01.csv  CRT_DATE:of01.csv  CRT_DATE:of01.csv:0
..        ...  ...       ...                ...                  ...
401  NF12NRDS    9  of12.csv  NF12NRDS:of12.csv  NF12NRDS:of12.csv:9
400  NF12NRPB    9  of12.csv  NF12NRPB:of12.csv  NF12NRPB:of12.csv:9
434  OF12CHGM    9  of12.csv  OF12CHGM:of12.csv  OF12CHGM:of12.csv:9
420  OF12GMFL    9  of12.csv  OF12GMFL:of12.csv  OF12GMFL:of12.csv:9
407   REC_CMP    9  of12.csv   REC_CMP:of12.csv   REC_CMP:of12.csv:9

[437 rows x 5 columns]

In [13]:
df_columns_count = df_columns.groupby(['column']).agg(count=('column', 'count')).sort_values(by=['count'], ascending=False)
df_columns_count.head(20)

          count
column
CENTER       10
REC_CMP      10
CRT_DATE     10
CMP_DATE     10
LHFOLNUM     10
BIRTHDT       1
NF4OTHSP      1
NF5AKLLT      1
NF5ABVOC      1
NF5ABRRT      1
NF5ABRLT      1
NF5ABR        1
NF4RFLUX      1
NF4OTMDS      1
NF4NUTRI      1
NF5ANKLL      1
NF4LOCSP      1
NF4DIUR       1
NF4CALOR      1
NF4BRONC      1

### 03.3 check LHFOLNUM

In [14]:
is_LM3ID = df_columns['column'] == 'LHFOLNUM'
df_columns[is_LM3ID]

       column  idx    filename      column:filename    column:filename:idx
0    LHFOLNUM    0    of01.csv    LHFOLNUM:of01.csv    LHFOLNUM:of01.csv:0
32   LHFOLNUM    1    of03.csv    LHFOLNUM:of03.csv    LHFOLNUM:of03.csv:1
106  LHFOLNUM    2    of04.csv    LHFOLNUM:of04.csv    LHFOLNUM:of04.csv:2
178  LHFOLNUM    3   of04a.csv   LHFOLNUM:of04a.csv   LHFOLNUM:of04a.csv:3
188  LHFOLNUM    4  of04ar.csv  LHFOLNUM:of04ar.csv  LHFOLNUM:of04ar.csv:4
199  LHFOLNUM    5    of05.csv    LHFOLNUM:of05.csv    LHFOLNUM:of05.csv:5
296  LHFOLNUM    6   of09a.csv   LHFOLNUM:of09a.csv   LHFOLNUM:of09a.csv:6
342  LHFOLNUM    7    of10.csv    LHFOLNUM:of10.csv    LHFOLNUM:of10.csv:7
356  LHFOLNUM    8    of11.csv    LHFOLNUM:of11.csv    LHFOLNUM:of11.csv:8
373  LHFOLNUM    9    of12.csv    LHFOLNUM:of12.csv    LHFOLNUM:of12.csv:9

##### column not in dict

In [15]:
is_not_in_dict = df_columns['column'].isin(dict_columns) == False
df_columns_not_in_dict = df_columns[is_not_in_dict]
df_columns_not_in_dict

       column  idx  filename    column:filename  column:filename:idx
30   CMP_DATE    0  of01.csv  CMP_DATE:of01.csv  CMP_DATE:of01.csv:0
31   CRT_DATE    0  of01.csv  CRT_DATE:of01.csv  CRT_DATE:of01.csv:0
3       FIRST    0  of01.csv     FIRST:of01.csv     FIRST:of01.csv:0
2        LAST    0  of01.csv      LAST:of01.csv      LAST:of01.csv:0
5    PROTID02    0  of01.csv  PROTID02:of01.csv  PROTID02:of01.csv:0
..        ...  ...       ...                ...                  ...
435  CMP_DATE    9  of12.csv  CMP_DATE:of12.csv  CMP_DATE:of12.csv:9
436  CRT_DATE    9  of12.csv  CRT_DATE:of12.csv  CRT_DATE:of12.csv:9
402   LFINITA    9  of12.csv   LFINITA:of12.csv   LFINITA:of12.csv:9
406  NF12INIT    9  of12.csv  NF12INIT:of12.csv  NF12INIT:of12.csv:9
407   REC_CMP    9  of12.csv   REC_CMP:of12.csv   REC_CMP:of12.csv:9

[75 rows x 5 columns]

In [16]:
columns_not_in_dict = list(df_columns_not_in_dict['column:filename:idx'].unique())
# columns_not_in_dict.sort()
columns_not_in_dict

['CMP_DATE:of01.csv:0',
 'CRT_DATE:of01.csv:0',
 'FIRST:of01.csv:0',
 'LAST:of01.csv:0',
 'PROTID02:of01.csv:0',
 'PROTID03:of01.csv:0',
 'PROTID04:of01.csv:0',
 'PROTID05:of01.csv:0',
 'PROTID06:of01.csv:0',
 'PROTID07:of01.csv:0',
 'PROTID08:of01.csv:0',
 'PROTID09:of01.csv:0',
 'PROTID10:of01.csv:0',
 'PROTID11:of01.csv:0',
 'PROTID12:of01.csv:0',
 'PROTID13:of01.csv:0',
 'PROTID14:of01.csv:0',
 'PROTID15:of01.csv:0',
 'PROTID16:of01.csv:0',
 'PROTID17:of01.csv:0',
 'PROTID18:of01.csv:0',
 'PROTID19:of01.csv:0',
 'PROTID20:of01.csv:0',
 'REC_CMP:of01.csv:0',
 'CFINITS:of03.csv:1',
 'CFPRRESP:of03.csv:1',
 'CMP_DATE:of03.csv:1',
 'CRT_DATE:of03.csv:1',
 'REC_CMP:of03.csv:1',
 'CMP_DATE:of04.csv:2',
 'CRT_DATE:of04.csv:2',
 'DFCOMPDT:of04.csv:2',
 'DFINITS:of04.csv:2',
 'DFPLACE:of04.csv:2',
 'NF4LOCSP:of04.csv:2',
 'REC_CMP:of04.csv:2',
 'CMP_DATE:of04a.csv:3',
 'CRT_DATE:of04a.csv:3',
 'DFINITSA:of04a.csv:3',
 'REC_CMP:of04a.csv:3',
 'CMP_DATE:of04ar.csv:4',
 'CRT_DATE:of04ar.csv:4',
 'REC_CMP:of04ar.csv:4',
 'CMP_DATE:of05.csv:5',
 'CRT_DATE:of05.csv:5',
 'EFINITS:of05.csv:5',
 'REC_CMP:of05.csv:5',
 'CMP_DATE:of09a.csv:6',
 'CRT_DATE:of09a.csv:6',
 'NF9AINIT:of09a.csv:6',
 'REC_CMP:of09a.csv:6',
 'CMP_DATE:of10.csv:7',
 'CRT_DATE:of10.csv:7',
 'JFCOMPDT:of10.csv:7',
 'JFINITS:of10.csv:7',
 'NF10CNTR:of10.csv:7',
 'REC_CMP:of10.csv:7',
 'CMP_DATE:of11.csv:8',
 'CRT_DATE:of11.csv:8',
 'KFBAYLE3:of11.csv:8',
 'KFCOMPDT:of11.csv:8',
 'KFINFEXM:of11.csv:8',
 'KFINITS:of11.csv:8',
 'KFLOSTFM:of11.csv:8',
 'KFMEDHIS:of11.csv:8',
 'KFREADM:of11.csv:8',
 'KFSES18:of11.csv:8',
 'KFSESDIS:of11.csv:8',
 'KFSTATFM:of11.csv:8',
 'REC_CMP:of11.csv:8',
 'CMP_DATE:of12.csv:9',
 'CRT_DATE:of12.csv:9',
 'LFINITA:of12.csv:9',
 'NF12INIT:of12.csv:9',
 'REC_CMP:of12.csv:9']

#### dict not in column

In [17]:
is_dict_not_in_columns = (df_dict['OC'].isin(df_columns['column']) == False) & (df_dict['OC'].isnull() == False)
df_dict_not_in_columns = df_dict[is_dict_not_in_columns]
df_dict_not_in_columns

Empty DataFrame
Columns: [Category, Subcategory, Standardized_VariableNames_Dictionary, type, Variable_Description, #studies w/ this var, redcap, comment, LH, OC]
Index: []

## 04. show column values

In [18]:
# XXX no show due to data privacy concern.

'''
for idx, each_df in enumerate(dfs):
    for idx2, column in enumerate(each_df.columns):
        print(f'({idx}/{len(dfs)}/{filenames[idx]}) ({idx2}/{len(each_df.columns)} column: {column} value: {list(each_df[column].unique())}')
'''

"\nfor idx, each_df in enumerate(dfs):\n    for idx2, column in enumerate(each_df.columns):\n        print(f'({idx}/{len(dfs)}/{filenames[idx]}) ({idx2}/{len(each_df.columns)} column: {column} value: {list(each_df[column].unique())}')\n"