In [1]:
import pandas as pd
import os

import COMBINE_harmonizer
from COMBINE_harmonizer import cfg

## 01. init

In [2]:
root_dir = '../'
COMBINE_harmonizer.init(f'{root_dir}/config.yaml')

In [3]:
excel_filename = f'{root_dir}/Dictionary_HIE_clinical_variables.xlsx'

In [4]:
df_dict = COMBINE_harmonizer.load_data_dict(excel_filename, COMBINE_harmonizer.SHEET_MAIN)
df_dict.columns

/Users/chhsiao/bch/i3/COMBINE-harmonizer/COMBINE_harmonizer/utils_data_dict.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[idx, constants.CATEGORY] = category

Index(['Category', 'Subcategory', 'Standardized_VariableNames_Dictionary',
       'type', 'Variable_Description', '#studies w/ this var', 'redcap',
       'comment', 'lower_var', 'var_eq_redcap', 'connect_redcap',
       'snakecase_var', 'PREVENT', 'NINDS', 'HEAL', 'LH', 'OC', 'BONBID',
       'PBI', 'Florida', 'MARBLE', 'EMBRACE', 'HELIX'],
      dtype='object')

In [5]:
df_dict[COMBINE_harmonizer.CATEGORY].unique()

array(['Pre-intervention', 'Intervention', 'Post-intervention',
       'NICU Discharge'], dtype=object)

## 02. duplicated columns

In [6]:
df_dict['count'] = 1
df_dict_groupby = df_dict.groupby(['Standardized_VariableNames_Dictionary'], as_index=False).agg({'count': 'sum'})
is_invalid = df_dict_groupby['count'] > 1
df_dict_groupby[is_invalid]

     Standardized_VariableNames_Dictionary  count
63                                 MRIDate      3
172                                MRITime      2
365                              birthDate      2
487                                 center      2
1136                             subjectID      3

In [7]:
invalid_columns = list(df_dict_groupby[is_invalid]['Standardized_VariableNames_Dictionary']) + ['birthTime']

is_invalid_df_dict = df_dict['Standardized_VariableNames_Dictionary'].isin(invalid_columns)
columns = ['Standardized_VariableNames_Dictionary', 'type']
df_dict[is_invalid_df_dict][columns].sort_values(by=['Standardized_VariableNames_Dictionary'])

    Standardized_VariableNames_Dictionary    type
805                               MRIDate    date
813                               MRIDate    date
832                               MRIDate    date
806                               MRITime    time
814                               MRITime    time
4                               birthDate    date
135                             birthDate    date
136                             birthTime    time
0                                  center  center
823                                center  center
1                               subjectID    text
799                             subjectID    text
825                             subjectID    text